header {
  background-color: #f8f9fa;
  padding: 10px 2rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav {
  display: flex;
  margin-left: auto;
  gap: 20px;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
#home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}